@import 'src/app/styles/variables';

#header-logo-cta {
    text-align: center;

    #header-logo {
        max-height: $header-height;
        max-width: 100%;
    }

    #header-cta {}

    @media screen and (min-width: 441px) {
        display: flex;

        #header-cta {
            flex: auto;
            display: flex;
            justify-content: flex-end;
        }
    }
}

#nav-main {
    background-color: $primary-color;
    height: calc(100vh - #{$header-height});

    display: flex;
    flex-direction: column;
    padding: 24px;
    position: relative;
    &.close-nav {
        left: -100%;
        transition: $transition-all;
    }
    transition: $transition-all;

    a {
        color: $white;
        display: block;
        padding: 0px 16px;
        text-decoration: none;
        position: relative;
        transition: $transition-all;

        &.active::after {
            content: '';
            border-bottom: 3px solid $secondary-color;
            border-radius: 16px;
            width: 100%;
            position: absolute;
            bottom: -8px;
            left: 0px;
            transition: $transition-all;
        }

        &:hover::after {
            content: '';
            background-color: $secondary-color;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            position: absolute;
            bottom: -8px;
            left: 50%;
            transition: $transition-all;
        }
    }

    @media screen and (min-width: 544px) {
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        height: 56px;
        padding: 0px 16px;
        &.close-nav {
            left: 0;
        }
    }
}

#mobile-nav-toggle {
    @media screen and (min-width: 544px) {
        display: none;
    }
}

#mobile-nav {}

